body{
	background:#03596217;

}
header{
	 min-height: calc(100vh - 106px); 
}


.footer-bottom{
	padding: 20px 0px;
	background:#035762;
}
.footer-bottom span{
	line-height: 1.8;
	display: block;
	color:#fff;
	font-size: 18px;
	font-weight: 600;
}

.footer-bottom{
	border-top: 3px solid yellow;
	
}
.admin-wraper{
	
	box-shadow: 0 0 6px 3px #747474;
	border-radius: 8px;
}
.btn-back{
	position: absolute;
	top: -47px;
}
.login-wraper{
	border: 2px solid #a6a7a6;
	padding:10px;
	border-radius: 10px;
	background: #72727233;
	box-shadow: 0 0 6px 3px #747474;
}
#profileHov h3:hover {
	 color: #af9797!important;
}
